.Mosque {
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: move;
  top: 86%;
  bottom: 0px;
  left: 20%;
  animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
  -moz-animation: bounce 1.5s infinite;
  -o-animation: bounce 1.5s infinite;
}
.Mosque:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}
.Church {
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: move;
  top: 86%;
  left: 30%;
  animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
  -moz-animation: bounce 1.5s infinite;
  -o-animation: bounce 1.5s infinite;
}
.Church:hover {
  transform: scale(1.5);
  transition: transform 1.5s ease;
}
.School {
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: move;
  top: 86%;
  left: 40%;
  animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
  -moz-animation: bounce 1.5s infinite;
  -o-animation: bounce 1.5s infinite;
}
.School:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}
.Factory {
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: move;
  top: 86%;
  left: 50%;
  animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
  -moz-animation: bounce 1.5s infinite;
  -o-animation: bounce 1.5s infinite;
}
.Factory:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}
