.App {
  text-align: center;
  background-image: url("https://wallpaperaccess.com/full/1155007.jpg");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
  font-weight: Bolder;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Title {
  font-weight: bold;
  font-size: 16px;
  padding-top: 30px;
}

.button {
  font-size: 12px;
  width: 100px;
  color: black;
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  margin-left: 650px;
}

.MainApp {
  /* background-color: grey; */
  height: 100%;
  z-index: 32323;
}

.map {
  /* background-size: cover; */
  height: 80vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 232;
  width: 80vw;
  margin: auto;
}

.banner {
  height: 250px;
  width: 300px;
  background-color: steelblue;
  border: solid white 2px;
}
